<!--! layouts/admin.html.erb -->
	<!DOCTYPE html>
	<html>
		<head>
			<title><%= full_title(yield(:title)) %></title>
			<%= stylesheet_link_tag    "application", media:" all" %>
			<%= javascript_include_tag "application" %>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "mmofish" %>">
			<%= csrf_meta_tags %>
			<%= render 'layouts/shim' %>
		</head>
		<body class="<%= controller_name %> <%= action_name %>">
			<!-- header -->
			<%= render 'header' %>

				<div class="container">
					<div class="content">
						
							<!--! This row is for system messages -->
							<div class="row">
								<div class="span12">
									<%= render 'messages' %>									
								</div>
							</div>
							
							<!--! This row is for :adminroot menu, -->
			
							
							<div class="row">
								<div class="span2">
									<%= render_navigation( :context => :admin, :level => 1, :renderer => :bootstrap) %>
								</div>
								<!--! and :admintop-->
								<div class="span10">
									<%= render_navigation( :context => :admin, :level => 2) %>
								</div>
							</div>
							
							
							<!--! This row is for the yield of menu items! -->
							<div class="row">
								<div class="span2">
									<%= render_navigation( :context => :admin, :level => 3) %>									
								</div>
							</div>
					
							<div class="row">
								<div class="span10">
									<%= yield %>	
								</div>
							</div>
							
							
							
							</div>
					
					</div><!--! end of .content -->
				</div> <!--! end of .container -->
				<%= render 'footer' %>
		</body>
	</html>